<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="com.echo.PartyMemberOM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="com.echo.PartyMemberOM.Properties.Settings.XT2007ConnectionString"
        connectionString="Provider=KDBOLE6.1;Data Source=LOCALHOST,55321;Persist Security Info=True;Password=MANAGER;User ID=SYSTEM;Initial Catalog=XT2007"
        providerName="System.Data.OleDb" />
    <add name="com.echo.PartyMemberOM.Properties.Settings.EchoOneConnectionString"
        connectionString="Data Source=localhost;Initial Catalog=EchoOne;Persist Security Info=True;User ID=sa;Password=hk97ilu!"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <com.echo.PartyMemberOM.Properties.Settings>
      <setting name="EchoOneWS" serializeAs="String">
        <value>http://localhost:8080/EchoOne/WebService/EchoOneWS.asmx</value>
      </setting>
      <setting name="ImageUrl" serializeAs="String">
        <value>http://localhost:8080/EchoOne/images/logo.jpg</value>
      </setting>
    </com.echo.PartyMemberOM.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <add key="ConnectionString" value="Provider=MSDASQL.1;Persist Security Info=False;Extended Properties='';Driver={Kingbase ODBC driver};database=XT2007;server=LOCALHOST;port=55321;uid=SYSTEM;PWD=MANAGER;" />
  </appSettings>
</configuration>